/* page not found style  */

.not-found {
  text-align: center;
  padding: 20px;
}

.not-found h1 {
  font-size: 36px;
  color: #ff0000; /* Red color for emphasis */
}

.not-found p {
  font-size: 18px;
  margin-top: 10px;
}
