/* card design  */
.card-img {
  height: 280px;
  width: 320px;
  object-fit: cover;
  border-radius: 5px;
  margin: 10px auto 0;
  transition: transform 0.3s ease;
  /* padding-block: 5px; */
}

.card-desc {
  padding-top: 25px;
  text-align: center;
}

/* navbar style */

.header-icon {
  font-size: 1.7rem;
  align-items: center;
  gap: 5px;
}

/* cart design  */
.cart-design {
  width: 320px;
  margin: 15px auto;
  text-align: center;
}
.cart-container {
  padding-block: 15px;
  background-color: #f0f0f0;
}

.cart-design > h2 {
  margin-bottom: 15px;
}

.card-header {
  padding: 0;
  width: 350px;
  object-fit: cover;
}

.card-img :hover {
  transform: scale(1.07);
}

.title {
  font-weight: 700;
  font-size: 1.1rem;
  margin-right: 15px;
}

.mx-100 {
  width: 150px;
}

@media only screen and (max-width: 425px) {
  .card-header {
    width: 300px;
  }
  .card-img {
    width: 290px;
  }
  .col-md-10 {
    margin-top: 15px;
  }
}
